<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
   <title>Bank app</title>
</head>

<nav>
    <ul>
        <li><a href="{% url 'bank_app:index' %}">Home</a></li>
        {% if user.is_staff  %}
        <li><a href="{% url 'bank_app:create' %}">Create</a></li>
        <li><a href="{% url 'bank_app:createaccount' %}">Create account</a></li>
        {% endif %}
        <li><a href="{% url 'bank_app:transfer' %}">Transfer</a></li>
        <li>
            <span>{{ user }}</span>
            <ul>
                <!--TODO: create logout template-->
                <li><a href="{% url 'logout'  %}">Logout</a></li>
                <li><a href="{% url 'password_change'  %}">Password change</a></li>
            </ul>
        </li>
    </ul>
</nav>

<body>
    <!--   <h1>Bank app</h1> -->
    {% block header %}
    {% endblock %}
      {% block content %}
      {% endblock %}

      {% block footer %}
      {% endblock %}
</body>
</html>
