{% extends "bank_app/base.html" %}

{% block title %} Create new Customer {% endblock %}
{% block header %} <h1>Create Customer</h1> {% endblock %}
{% block content %}
<form method="post" action="">
    {% csrf_token  %}

    {{ customer_form }}
    {% csrf_token  %}
    {{ extra_form }}
    <button type="submit", name="create">Create Customer</button>
</form>
<h2>{{ note }}</h2>

{% endblock %}
