{% extends "bank_app/base.html" %}

{% block content %}
<h3>Account details</h3>
<h1>
    {% if account_number.balance.transaction__sum %}
        {{account_number.balance.transaction__sum}}
    {% else %}
        {{0}}
    {% endif %}
kr</h1>
<p>{{account_number}}</p>
<table>
    {% for transaction in transactions %}
    <tr>
        <tb>{{transaction.transaction_date}} - {{transaction.transaction}}</tb>
    </tr>
    {% endfor %}
</table>

{% endblock %}
