<!DOCTYPE html>
<html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>Password reset</title>
     </head>
     <body>
         <header>
             <h1>Change your password</h1>
         </header>
         <hr>
         <main>
             <form action="{% url 'password_change' %}" method="POST">
                   <fieldset>
                       <legend>Please change your password</legend>
                       {% csrf_token %}
                       <!--<input type="text" name="username" placeholder="User name">-->
                       <input type="password" name="password" placeholder="Password">
                       <button>Submit</button>
                   </fieldset>
             </form>
           </main>
     </body>
 </html>

